* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}
:root {
  --background: rgb(24, 24, 24);
  --second-background: rgb(21, 21, 21);
}
 body{
  background-color: #000000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cpath fill='none' stroke-width='94.5' id='a' d='M0.74-509.63l485.39 352.65l-185.4 570.61h-599.97l-185.4-570.61L0.74-509.63 M0.74-510.87l-486.56 353.51l185.85 571.99h601.42L487.3-157.36L0.74-510.87L0.74-510.87z'/%3E%3C/defs%3E%3Cg style='transform-origin:center'%3E%3Cg transform='rotate(69.84 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-160 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23000' href='%23a' transform='rotate(10 0 0) scale(1.1)'/%3E%3Cuse stroke='%23002800' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%23003000' href='%23a' transform='rotate(30 0 0) scale(1.3)'/%3E%3Cuse stroke='%23003b00' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%23004a00' href='%23a' transform='rotate(50 0 0) scale(1.5)'/%3E%3Cuse stroke='%23005900' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%23006900' href='%23a' transform='rotate(70 0 0) scale(1.7)'/%3E%3Cuse stroke='%23007800' href='%23a' transform='rotate(80 0 0) scale(1.8)'/%3E%3Cuse stroke='%23008900' href='%23a' transform='rotate(90 0 0) scale(1.9)'/%3E%3Cuse stroke='%23009900' href='%23a' transform='rotate(100 0 0) scale(2)'/%3E%3Cuse stroke='%2300a900' href='%23a' transform='rotate(110 0 0) scale(2.1)'/%3E%3Cuse stroke='%2300ba00' href='%23a' transform='rotate(120 0 0) scale(2.2)'/%3E%3Cuse stroke='%2325cb15' href='%23a' transform='rotate(130 0 0) scale(2.3)'/%3E%3Cuse stroke='%2341dc2d' href='%23a' transform='rotate(140 0 0) scale(2.4)'/%3E%3Cuse stroke='%2358ed40' href='%23a' transform='rotate(150 0 0) scale(2.5)'/%3E%3Cuse stroke='%236CFF52' href='%23a' transform='rotate(160 0 0) scale(2.6)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
  min-height: 100vh;
 }

 nav{
  position:fixed;
  top:0;
  width:100%;
  padding:2em 15%;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background-color:rgba(15,15,14,0.8);
  backdrop-filter: blur(10px);
  z-index:1000 ;

 }

 ul{
  display:flex;
  align-items: center;
  gap: 3em;
 }

 nav ul a{
    color:white;
    opacity:0.7;
    transition: 0.2s ease-in-out;
 }

 nav ul a:hover{
     opacity:1;
 }

 .logo{
  font-size:2em;
  color:white;
  font-weight:800;
  opacity:0.8;
  transition: 0.2s ease-in-out;
  margin: 10px;
 }

 .logo:hover{
     opacity:1;
 }

 .btn{
  padding:0.5em 1em;
  color:white;
  font-weight: 500;
  letter-spacing:1px;
  border-radius:0.5em;
  font-size: 1.1em;
  border:2px solid white;
  cursor:pointer;
  transition: 0.3s ease-in-out;
 }

 .btn:hover{
      background-color: white;
      color:var(--background);
 }

 span{
  background: linear-gradient(to right, #6cff52, #3ec5ff);
  background-clip:text;
  color:transparent;
}
.padding{
  margin:20px;
}
#menu{
  color:white;
  font-size:3em;
  display:none;
}

section{
  min-height: 100vh;
  padding: 5% 15%;
}

#home{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2em;
  color:white;

}

#home img{
  width:18vw;
  border-radius: 50%;
}

.info-box{
   display:flex;
   flex-direction:column;
   text-align:center;
   gap:0.5em;
   max-width:600px;
}

.info-box h1{
  font-size:5em;
  font-weight:500;
}

.info-box h3{
  font-size: 2em;
  font-weight: 400;
}

.info-box p{
  opacity:0.7;
}
.btn-box{
  display:flex;
  gap:1em;
}

.btn-box .btn:nth-of-type(2){
  background-color: white;
  color:var(--background)
}

.btn-box .btn:nth-of-type(2):hover{
  background-color:var(--background);
  color:white;
}

::-webkit-scrollbar{
  width:20px;
  background-color: var(--background);
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(to bottom, #6cff52, #3ec5ff);
}

#about{
  background-color: var(--second-background);
  display:flex;
  align-items: center;
  justify-content: center;
  gap:5em;
}


.about-box{
  display:flex;
  flex-direction:column;
  text-align:left;
  gap:2em;

}

/* #Experience{
  background-color: var(--second-background);
  display:flex;
  align-items: center;
  justify-content: center;
  gap:5em;
 

}

.experience-info{
  display:flex;
  flex-direction:column;
  text-align:left;
  gap:2em;
  color:white;
  font-size: 0.5em;

} */
.about-box h1{
  font-size: 5em;
}

.about-box p{
  color:white;
  opacity:0.8;
}


.skills{
  display:flex;
  text-align: left;
  gap: 10em;
}

.skills ul{
  font-size: 1.3em;
  font-weight: 500;
  display:flex;
  flex-direction:column;
  color: white;
  opacity: 0.8;
  align-items: baseline;
}

.skills ul li span{
  display:flex;
  gap:0.5em;
  align-items: center;
  font-size: 1.3em;
  transition: 0.3s ease-in-out;
}

.skills ul li span:hover{
  transform:translateX(10px);
}

.skills ul li i{
  font-size: 1.2em;
}

.about-box h2{
  font-size: 2.5em;
}

#contact{
  background-color: var(--background);
  /* font-size: 3em; */
}

#contact .header{
font-size:5em
}

form{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:2em;

}

form.input-box{
  display:flex;
  flex-direction:column;
  align-items: center;
  gap: 1em;

}

.input-box span{
    font-size:1.5em;

}

form input{
  font-size: 1.3em;
  padding:1em 5em;
  border-radius:0.5em;
  border: none;
  outline: none;

}


form input:focus{
  background: rgb(229, 229,229);
}

footer{
  display:flex;
  justify-content:center;
  align-items: center;
  gap:10em;
  bottom:0;
  background-color:var(--background);
  width:100%;
  padding: 5em 15%l

}

.col-left{
  display:flex;
  flex-direction:column;
  gap:1em;
}


col-box {
  font-size: 2em;
}

.col-right{
  display:flex;
  flex-direction:column;
  gap:1em;
  color:white;
  max-width:500px;

}

.col-right span{
  font-size:1.3em;
  color:#6cff52;
  

}

.col-right .social-icons{
  display:flex;
  align-items: baseline;
  justify-content:left;
  gap:1em;
 

}

.col-right .social-icons i{
  font-size:2em;
  transition: 0.2s ease-in-out;
  cursor:pointer; 
  color:#6cff52;

}

.social-icons box-icon:hover{
  color:white
}
@media (max-width:968px) {
    section{
      padding:8em 15%;
    }

    nav .btn{
      display:none;
    }
    #menu{
      display:block;
    }
    .links{
      position:absolute;
      top:100%;
      right:0;
      width:100%;
      padding:1em 3em;
      color:white;
      display:flex;
      flex-direction:column;
      text-align:center;
      background:rgba(0,0,0,0.9)
    }

    .links a{
      margin: 2em 0;
      display:block;
      font-size:1.5em;
      color:white;

    }

    .links-active{
      display:block;

    }

    #home h1{
      font-size:4em;

    }

    
    #home h3{
      font-size:2em;

    }

    #home img{
      width:24vw;
    }
   
    #about{
      flex-direction:column;
    }

    #about  img{
     width:32vw
    }

    #about h1{
      font-size:3em;
    }
    
    #about ul{
      font-size:1em;
    }
}

.experience-info p{
  color: white;
  margin:20px;
}
.experience-info h1{
  font-size: 5em !important; 
}





/* @media (max-width:768px) {

  
  #home h1{
    font-size:2.5em;

  }

  
  #home h3{
    font-size:1.5em;

  }

  #home img{
    width:32vw;
  }

  #about .skills{
    gap:3em;
  }

  #services .header{
    font-size: 3em;
  }
  
  #contact .header{
    font-size: 3em;
  }

  #contact .input-box span{
    font-size:1.2em;
  }

  .input-box input{
    padding:0.5em 
  }
  footer{
    flex-direction:column;
    gap:5em;
    align-items: baseline;
  }
} */